body {
    font-family: 'Open Sans', sans-serif;
}

a:hover, a {
    text-decoration: none;
    color: grey;
}

/* =========================================section1============================================ */
.main-section1 {
    background-color: #f5f5f5;
    padding-top: 80px;
}

.nav-btn {
    border: none;
}

.logo {
    text-align: center;
}

.logo p {
    margin: 0;
    font-size: 32px;
    border: 4px solid  rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    padding: 0 13px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-weight: bold;
}

.logo p span {
    color: #fc6744;
}

.nav-icon {
    font-size: 28px;
}

.global-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 15px;
}

.global-title h1 {
    font-size: 50px;
    font-weight: bold;
}

.global-title span {
    color: #fc6744;
}

.main-section1 h1 {
    margin-top: 50px;
}

.form {
    padding: 25px 35px;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
}

form {
    width: 100%;
    margin-top: 30px;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
    resize: none;
    color: rgba(0, 0, 0, 0.6);
}

form textarea {
    height: 80px;
}

form button {
    padding: 15px 55px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #ff5c36;
}

@media screen and (max-width:1025px) {
    form button {
        padding: 15px 40px;
        font-size: 14px;
    }
}
@media screen and (max-width:770px) {
    form button {
        padding: 10px 11px;
        font-size: 15px;
    }
}
@media screen and (max-width:568px) {
    .main-section1 {
        padding-top: 20px;
    }

    .logo p {
        font-size: 20px;
    }

    .menu-button {
        padding: 0;
    }

    .global-title h1 {
        font-size: 28px;
    }

    .global-title p {
        font-size: 15px;
    }

    .form {
        padding: 15px 20px;
        margin-top: 30%;
    }

    form {
        margin-top: 10px;
    }

    form input, form textarea {
        margin-bottom: 10px;
    }

    form textarea {
        height: 50px;
    }

    form button {
        padding: 15px 15px;
        font-size: 14px;
    }
}
@media screen and (max-width:380px) {
    .logo p {
        font-size: 15px;
        border: 3px solid  rgba(0, 0, 0, 0.6);
    }

    .nav-icon {
        font-size: 24px;
    }

    .global-title h1 {
        font-size: 20px;
    }

    .global-title p {
        font-size: 11px;
    }

    .form {
        padding: 10px 15px;
        margin-top: 25%;
    }

    .form h5 {
        font-size: 14px;
    }

    form input, form textarea {
        font-size: 12px;
    }

    form button {
        padding: 10px 15px;
        font-size: 10px;
    }
}
/* =========================================section1============================================ */

/* =========================================section2============================================ */
.container-section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards-wrap {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    padding:  35px 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    position: relative;
    color: #ffffff;
    margin: 15px;
    flex-basis: 20%;
}

.cards:hover, .global-btn:hover {
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
}

.cards i {
    font-size: 44px;
    margin: 15px;
}

.cards p {
    font-size: 15px;
}

.global-btn {
    padding: 15px 0;
    border-radius: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05);
}

.global-btn-section2 {
    position: absolute;
    bottom: -25px;
    align-self: center;
    width: 85%;
}

.light-blue-card {
    background-color: #4eb2f7;
}
.purple-card {
    background-color: #c049f8;
}
.dark-blue-card {
    background-color: #817eff;
}
.red-card {
    background-color: #f74770;
}
.red-card i {
    transform: rotate(-20deg);  
}

@media screen and (max-width: 1025px) {
    .cards {
        flex-basis: 35%;
    }
}
@media screen and (max-width:568px) {
    .cards {
        padding: 10px;
        flex-basis: 40%;
    }

    .cards h5 {
        font-size: 15px;
    }

    .cards i {
        font-size: 30px;
    }

    .cards p {
        font-size: 12px;
    }
    .global-btn-section2  {
        padding: 8px 0px;
        font-size: 14px;
        bottom: -17px;
    }
}
@media screen and (max-width:374px) {

    .cards {
        padding: 10px;
        flex-basis: 60%;
    }

    .cards i {
        font-size: 26px;
    }

    .cards h5 {
        font-size: 15px;
    }

    .cards p {
        font-size: 11px;
    }

    .global-btn-section2  {
        padding: 7px 0px;
        font-size: 12px;
        bottom: -16px;
    }
}

/* =========================================/section2============================================ */

/* =========================================section3============================================= */
.main-section3 {
    background-color: #fbfbfb;
}

.container-section3 {
    height: 190vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-wrap {
    height: 150vh;
    width: 100%;
}

.homer-blocs {
    flex-basis: 31%;
    width: 100%;
}

.img-containers {
    flex-basis: 31%;
    background-color: #ff5c36;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .45s;
    margin: 2px;
}

.img-containers:hover {
    flex-basis: 45%;
    margin: 0 30px;
}

.simpson1 {
    background-image: url(./img/11.png);
}
.simpson2 {
    background-image: url(./img/22.png);
}
.simpson3 {
    background-image: url(./img/33.png);
}

@media screen and (max-width:568px) {

    .container-section3 {
        height: 100vh;
    }

    .img-wrap {
        height: 70vh;
        width: 100%;
    }

}
/* =========================================/section3============================================= */

/* =========================================section4============================================== */
.container-section4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-wrap {
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;
}

.bloc1 {
    width: 10%;
    justify-content: space-between;
}

.bloc2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc3 {
    width: 33%;
}

.img-icon-containers {
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.global-btn-section4 {
    align-self: flex-start;
    text-align: center;
    width: 50%;
}

.img-icon-containers:hover {
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
}

.img-icon-container1, .img-icon-container4 {
    background-image: url(./img/1.png);
}
.img-icon-container2 {
    background-image: url(./img/2.png);
}
.img-icon-container3 {
    background-image: url(./img/3.png);
}

.bloc2 h3 {
    position: relative;
}

.content-wrap h3::before {
    content: '';
    height: 3px;
    width: 12%;
    background-color:  #ff5c36;
    bottom: -15px;
    position: absolute;
}

.bloc3 {
    background-image: url(./img/apple-watch-mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width:770px) {
    .content-wrap h3::before {
        bottom: -3px;
    }
}
@media screen and (max-width:568px) {
    .container-section4 {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    
    .content-wrap {
        margin: 0;
        height: 80vh;
       justify-content: space-evenly;
    }
    
    .bloc1 {
        width: 15%;
        justify-content: space-evenly;
    }
    .bloc2 {
        width: 60%;
        justify-content: space-evenly;
    }
    .bloc3 {
        width: 100%;
        background-position: center;
    }

    .bloc1 {
        display: flex;
    }

    .bloc2 h3 {
        font-size: 17px;
    }

    .content-wrap h3::before {
        bottom: -7px;
    }

    .bloc2 p {
        font-size: 11px;
    }

    .img-icon-containers {
        height: 50px;
        width: 50px;
        background-size: contain;
}

    .global-btn-section4  {
        padding: 7px 0;
        width: 90%;
    }

    .iphone5-display-none {
        display: none;
}
}
@media screen and (max-width:374px) {
    .container-section4 {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    
    .content-wrap {
        margin: 30px 0;
    }

    .bloc1 {
        width: 10%;
        height: 45%;
        justify-content: space-evenly;
    }
    .bloc2 {
        width: 60%;
        height: 45%;
    }
    .bloc3 {
        width: 100%;
        height: 35%;
        background-position: center;
    }

}
/* =========================================/section4============================================== */

/* =========================================section5=============================================== */
.main-section5 {
    background-color: #fbfbfb;
}

.container-section5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.team-members-wrap {
    margin: 30px 0;
}

.member-cards {
    position: relative;
    flex-basis: 30%;
    background-color: #fff3f0;
    padding: 10px 30px;
    min-height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    transition: all .45s;
}

.member-cards:hover {
    box-shadow: 0 0 49px rgba(20, 20, 21, 0.11);
}

.member-name {
    margin-top: 30px;
}

.member-name span {
    color: #ff724c;
    margin-bottom: 5px;
}

.member-contacts {
    width: 25%;
    color: gray;
}

.orange-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:  #ff5c36;
    background-image: url(./img/homer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-shadow: 0 0 2px rgba(20, 20, 21, 0.6);
    transition: all .45s;
}

.member-name-fade {
    width: 70%;
    background-color: #fff;
    position: absolute;
    bottom: -30px;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05);
}

.orange-fade:hover {
    opacity: 0;
}

.progress-wrap {
    width: 60%;
    height: 50%;
    align-self: center;
    justify-content: flex-end;
}

.progress-wrap p {
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.progress:nth-child(2n) {
    margin-bottom: 10px;
}

@media screen and (max-width:1025px) {
    .member-name-fade h3 {
        font-size: 26px;
    }

    .member-cards {
        min-height: 25vh;
        flex-basis: 30%;
    }
}
@media screen and (max-width:568px) {
    .member-card-media-display-non {
        display: none;
    }

    .member-cards {
        min-height: 25vh;
        flex-basis: 47%;
    }

    .member-name {
        margin-top: 15px;
    }

    .member-name-fade {
        bottom: -30px;
    }

    .progress-wrap {
        width: 80%;
        height: 50%;
        align-self: center;
        justify-content: flex-end;
    }

    .member-cards h3, i {
       font-size: 13px;
    }

    .member-cards i {
        margin: 0 1px;
    }
    
    .member-cards span {
        font-size: 9px;
    }

    .progress-wrap p {
        font-size: 10px;
    }
}
/* =========================================/section5=============================================== */

/* =========================================section6================================================ */
.main-section6 {
    padding: 50px 0;
}

.whole-carosel {
    margin: 30px 0;
}

.calosel-navigation-icons {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.08);
}

.calosel-navigation-icons:hover {
    background-color: #ff6e47;
}

.carousel-indicators li {
    border-bottom: 4px #ff6e47 solid;
}

.carosel-content-wrap {
    padding: 35px;
}

.slider-content {
    text-align: center;
    padding: 50px 30px 30px 30px;
    position: relative;
}

.avatar {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background-image: url(./img/incognito-512.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: black solid 1px;
}

.stars {
    margin-bottom: 15px;
    color: #ffef3b;
}

.stars i {
    transition: all .20s;
}
.stars i:hover {
    font-size: 20px;
}

.name {
    font-weight: bold;
}

.position {
    font-style: italic;
}

.slider-content:hover {
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05);
}

.whole-carosel-media {
    display: none;
}

@media screen and (max-width:568px) {
    .whole-carosel {
        display: none;
    }
    .whole-carosel-media {
        display: block;
        margin-top: 20px;
    }

    .slider-content p {
        font-size: 11px;
    }
    .slider-content span {
        font-size: 13px;
    }
}
/* =========================================/section6================================================ */

/* =========================================section7================================================= */
.main-section7-part1 {
    background-color: #fbfbfb;
}

.animal-icons-wrap i {
    color: #d3d3d3;
    font-size: 30px;
    margin: 50px 0;
}

.main-section7-part2 {
    background-color: #f7f7f7;
    padding: 50px 0 40px 0;
}

.last-button {
    padding: 15px 0;
    width: 20%;
    margin-bottom: 40px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid rgba(1, 2, 2, 0.07);
    background-color: #fdfdfd;
    text-align: center;
}

.last-button:hover {
    box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
}

.social-media-icons-and-text {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.main-section7-part2 .row i {
    height: 50px;
    width: 50px;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: #d3d3d3;
    color: white;
}

.main-section7-part2 .row i:hover {
    box-shadow: 0 0 23px rgba(20, 20, 21, 0.29);
    background-color: #ff6e47;
}

.main-section7-part2 .row span {
    color:  grey;
}

@media screen and (max-width:568px) {
    
    .main-section7-part2 {
        padding: 25px 0;
}

    .last-button {
        padding: 7px 0;
        width: 60%;
        margin-bottom: 25px;
}

    .social-media-icons-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

   .main-section7-part2 .row i {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

    .main-section7-part2 span {
    font-size: 10px;
}
}
/* =========================================/section7================================================= */















